src/Contracts/Compilation/paas_validation.xsd

<?xml version="1.0"?>
<!-- src/Contracts/Compilation/paas_validation.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xml.teknoo.software/schemas/east/paas-validation"
           xmlns:epv="http://xml.teknoo.software/schemas/east/paas-validation"
           elementFormDefault="qualified">

  <xs:element name="root">
    <xs:complexType>
      <xs:all>
        <xs:element name="paas" type="epv:paas" minOccurs="0" />
        <xs:element name="defaults" type="epv:defaults" minOccurs="0" />
        <xs:element name="maps" type="epv:maps" minOccurs="0" />
        <xs:element name="secrets" type="epv:secrets" minOccurs="0" />
        <xs:element name="images" type="epv:images" minOccurs="0" />
        <xs:element name="builds" type="epv:builds" minOccurs="0" />
        <xs:element name="volumes" type="epv:volumes" minOccurs="0" />
        <xs:element name="jobs" type="epv:jobs" minOccurs="0" />
        <xs:element name="pods" type="epv:pods" />
        <xs:element name="services" type="epv:services" minOccurs="0" />
        <xs:element name="ingresses" type="epv:ingresses" minOccurs="0" />
        <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="paas_token">
    <xs:restriction base="xs:NMTOKEN">
      <xs:pattern value="[a-zA-Z][a-zA-Z0-9\-]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paas_token_with_space">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z][a-zA-Z0-9 \-]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="resource_value">
    <xs:restriction base="xs:NMTOKEN">
      <xs:pattern value="[0-9][.0-9]*(pc|m|K|M|G|T|P|E|Ki|Mi|Gi|Ti|Pi|Ei)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="resource_type">
    <xs:restriction base="xs:NMTOKEN">
      <xs:pattern value="(compute|memory)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="third_party_enhancements">
    <xs:sequence>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paas">
    <xs:all>
      <xs:element name="version" type="xs:string" minOccurs="0" />
      <xs:element name="requires" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="row" type="epv:paas_token" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="quotas" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="row" type="epv:resource_quota" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="resource_quota">
    <xs:all>
      <xs:element name="category" type="epv:resource_type" />
      <xs:element name="type" type="epv:paas_token" />
      <xs:element name="capacity" type="epv:resource_value" />
      <xs:element name="requires" type="epv:resource_value" minOccurs="0"/>
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="resource_request">
    <xs:all>
      <xs:element name="type" type="epv:paas_token" />
      <xs:element name="require" type="epv:resource_value" />
      <xs:element name="limit" type="epv:resource_value" minOccurs="0"/>
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="defaults">
    <xs:all>
      <xs:element name="storage-provider" type="xs:string" minOccurs="0"/>
      <xs:element name="storage-size" type="xs:string" minOccurs="0"/>
      <xs:element name="oci-registry-config-name" type="xs:string" minOccurs="0" />
      <xs:element name="clusters" type="epv:clusters" minOccurs="0" />
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="cluster_node">
    <xs:all>
      <xs:element name="storage-provider" type="xs:string" minOccurs="0"/>
      <xs:element name="storage-size" type="xs:string" minOccurs="0"/>
      <xs:element name="oci-registry-config-name" type="xs:string" minOccurs="0" />
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token_with_space" />
  </xs:complexType>

  <xs:complexType name="clusters">
    <xs:choice>
      <xs:element name="node" type="epv:cluster_node" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="map_node">
    <xs:choice>
      <xs:any maxOccurs="unbounded" processContents="skip" />
    </xs:choice>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="maps">
    <xs:choice>
      <xs:element name="node" type="epv:map_node" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="secret_node">
    <xs:all>
      <xs:element name="provider" type="xs:string" />
      <xs:element name="type" type="xs:string" minOccurs="0" />
      <xs:element name="options" type="xs:anyType" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="secrets">
    <xs:choice>
      <xs:element name="node" type="epv:secret_node" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="variables">
    <xs:choice>
      <xs:any maxOccurs="unbounded" processContents="skip" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="image_node">
    <xs:all>
      <xs:element name="build-name" type="xs:string"/>
      <xs:element name="tag" type="xs:string" />
      <xs:element name="path" type="xs:string" />
      <xs:element name="variables" type="epv:variables" minOccurs="0" />
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="images">
    <xs:choice>
      <xs:element name="node" type="epv:image_node" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="build_node">
    <xs:choice>
      <xs:any maxOccurs="unbounded" processContents="skip"/>
    </xs:choice>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="builds">
    <xs:choice>
      <xs:element name="node" type="epv:build_node" minOccurs="0"  maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="completion_mode" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="common" />
      <xs:enumeration value="indexed" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="planning" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="during-deployment" />
      <xs:enumeration value="scheduled" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="job_completions">
    <xs:all>
      <xs:element name="count" type="xs:int" minOccurs="0" />
      <xs:element name="mode" type="xs:string" minOccurs="0" />
      <xs:element name="time-limit" type="xs:int" minOccurs="0" />
      <xs:element name="success-on" type="epv:rows_list_int" minOccurs="0" />
      <xs:element name="fail-on" type="epv:rows_list_int" minOccurs="0" />
      <xs:element name="limit-on" type="xs:string" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="job_node">
    <xs:all>
      <xs:element name="extends" type="xs:string" minOccurs="0" />
      <xs:element name="pods" type="epv:pods" />
      <xs:element name="completions" type="epv:job_completions" minOccurs="0" />
      <xs:element name="is-parallel" type="xs:boolean" default="false" minOccurs="0" />
      <xs:element name="planning" type="epv:planning" minOccurs="0" />
      <xs:element name="schedule" type="xs:string" minOccurs="0" />
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="jobs">
    <xs:choice>
      <xs:element name="node" type="epv:job_node" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="rows_list_string">
    <xs:choice>
      <xs:element name="row" type="xs:string" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="rows_list_int">
    <xs:choice>
      <xs:element name="row" type="xs:int" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="volume_node">
    <xs:all>
      <xs:element name="local-path" type="xs:string" minOccurs="0" />
      <xs:element name="mount-path" type="xs:string" minOccurs="0" />
      <xs:element name="add" type="epv:rows_list_string" />
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="volumes">
    <xs:choice>
      <xs:element name="node" type="epv:volume_node" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="container_volume_from_node">
    <xs:all>
      <xs:element name="from" type="epv:paas_token" />
      <xs:element name="mount-path" type="xs:string" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="container_volume_persistent_node">
    <xs:all>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="mount-path" type="xs:string" />
      <xs:element name="persistent" type="xs:boolean" />
      <xs:element name="write-many" type="xs:boolean" minOccurs="0"/>
      <xs:element name="reset-on-deployment" type="xs:boolean" minOccurs="0"/>
      <xs:element name="storage-provider" type="xs:string" minOccurs="0"/>
      <xs:element name="storage-size" type="xs:string" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="container_volume_embedded_node">
    <xs:all>
      <xs:element name="mount-path" type="xs:string" />
      <xs:element name="add" type="epv:rows_list_string"/>
      <xs:element name="writables" type="epv:rows_list_string" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="container_volume_map_node">
    <xs:all>
      <xs:element name="mount-path" type="xs:string" />
      <xs:element name="from-map" type="xs:string" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="container_volume_secret_node">
    <xs:all>
      <xs:element name="mount-path" type="xs:string" />
      <xs:element name="from-secret" type="xs:string" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="container_volumes_list">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="embedded-node" type="epv:container_volume_embedded_node" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="from-node" type="epv:container_volume_from_node" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="persistent-node" type="epv:container_volume_persistent_node" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="secret-node" type="epv:container_volume_secret_node" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="map-node" type="epv:container_volume_map_node" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="health_check_prob_command">
    <xs:choice>
      <xs:any maxOccurs="unbounded" processContents="skip" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="health_check_prob_http">
    <xs:all>
      <xs:element name="port" type="xs:int" minOccurs="0" />
      <xs:element name="path" type="xs:string" />
      <xs:element name="is-secure" type="xs:boolean" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="health_check_prob_tcp">
    <xs:all>
      <xs:element name="port" type="xs:int" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="health_check_threshold">
    <xs:all>
      <xs:element name="failure" type="xs:int" minOccurs="0" />
      <xs:element name="success" type="xs:int" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="health_check_prob">
    <xs:choice minOccurs="0">
      <xs:element name="command" type="epv:health_check_prob_command" />
      <xs:element name="http" type="epv:health_check_prob_http" />
      <xs:element name="tcp" type="epv:health_check_prob_tcp" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="health_check">
    <xs:all>
      <xs:element name="initial-delay-seconds" type="xs:int" />
      <xs:element name="period-seconds" type="xs:int" />
      <xs:element name="probe" type="epv:health_check_prob" />
      <xs:element name="threshold" type="epv:health_check_threshold" minOccurs="0" />
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="container_node">
    <xs:all>
      <xs:element name="extends" type="xs:string" minOccurs="0" />
      <xs:element name="image" type="xs:string" />
      <xs:element name="version" type="xs:string" minOccurs="0" />
      <xs:element name="listen" type="epv:rows_list_int" minOccurs="0" />
      <xs:element name="volumes" type="epv:container_volumes_list" minOccurs="0" />
      <xs:element name="variables" type="epv:variables" minOccurs="0" />
      <xs:element name="healthcheck" type="epv:health_check" minOccurs="0" />
      <xs:element name="resources" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="row" type="epv:resource_request" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:simpleType name="upgrade_strategy" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="rolling-upgrade" />
      <xs:enumeration value="recreate" />
      <xs:enumeration value="on-delete" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="pod_upgrade">
    <xs:all>
      <xs:element name="strategy" type="epv:upgrade_strategy" minOccurs="0" />
      <xs:element name="max-upgrading-pods" type="xs:int" minOccurs="0" />
      <xs:element name="max-unavailable-pods" type="xs:int" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="pod_security">
    <xs:all>
      <xs:element name="fs-group" type="xs:int" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="pod_node">
    <xs:all>
      <xs:element name="extends" type="xs:string" minOccurs="0" />
      <xs:element name="replicas" type="xs:int" minOccurs="0" />
      <xs:element name="oci-registry-config-name" type="xs:string" minOccurs="0" />
      <xs:element name="upgrade" type="epv:pod_upgrade" minOccurs="0" />
      <xs:element name="security" type="epv:pod_security" minOccurs="0" />
      <xs:element name="requires" type="epv:rows_list_string" minOccurs="0" />
      <xs:element name="containers">
        <xs:complexType>
          <xs:choice>
            <xs:element name="node" type="epv:container_node" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="pods">
    <xs:choice>
      <xs:element name="node" type="epv:pod_node" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="service_port">
    <xs:all>
      <xs:element name="listen" type="xs:int" />
      <xs:element name="target" type="xs:int" />
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="protocol" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="UDP" />
      <xs:enumeration value="udp" />
      <xs:enumeration value="TCP" />
      <xs:enumeration value="tcp" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="service_node">
    <xs:all>
      <xs:element name="extends" type="xs:string" minOccurs="0" />
      <xs:element name="pod" type="epv:paas_token" minOccurs="0"/>
      <xs:element name="internal" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="protocol" type="epv:protocol" minOccurs="0"/>
      <xs:element name="ports">
        <xs:complexType>
          <xs:choice>
            <xs:element name="row" type="epv:service_port" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="services">
    <xs:choice>
      <xs:element name="node" type="epv:service_node" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ingress_tls">
    <xs:all>
      <xs:element name="secret" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ingress_service">
    <xs:all>
      <xs:element name="name" type="epv:paas_token" />
      <xs:element name="port" type="xs:int" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ingress_path_node">
    <xs:all>
      <xs:element name="path" type="xs:string" />
      <xs:element name="service" type="epv:ingress_service" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ingress_paths">
    <xs:choice>
      <xs:element name="row" type="epv:ingress_path_node" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ingress_node">
    <xs:all>
      <xs:element name="extends" type="xs:string" minOccurs="0" />
      <xs:element name="host" type="xs:string" />
      <xs:element name="aliases" type="epv:rows_list_string" minOccurs="0" />
      <xs:element name="https-backend" type="xs:boolean" minOccurs="0" />
      <xs:element name="tls" type="epv:ingress_tls" />
      <xs:element name="service" type="epv:ingress_service" minOccurs="0" />
      <xs:element name="paths" type="epv:ingress_paths" minOccurs="0" />
      <xs:element name="meta" type="xs:anyType" minOccurs="0" />
      <xs:element name="enhancements" type="epv:third_party_enhancements" minOccurs="0" />
    </xs:all>
    <xs:attribute name="name" type="epv:paas_token" />
  </xs:complexType>

  <xs:complexType name="ingresses">
    <xs:choice>
      <xs:element name="node" type="epv:ingress_node" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
  </xs:complexType>
</xs:schema>
